* {
  border-radius: 5px;
  border: none;
  width: 100%;
}

window {
  opacity: 1;
  font-size: 1em;
  font-family: "Source Code Pro Medium for Powerline";
  background-color: rgba(50, 50, 50, 0.88);
  color: white;
  border: 1px solid rgba(0, 0, 255, 1);
  transition-property: opacity, width, transform;
  transition-duration: 0.6s;
  transition-delay: 0.1s;
  transition-timing-function: fade-in;
}

#window:not(:focused) {
  opacity: 0;
}

/* Styling for all 'entry' */
#entry {
  margin: 0.3px;
  padding: 0.5em;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

/* Colors for selection */
#entry:selected {
  background-color: rgba(220, 220, 220, 0.7);
  box-shadow: 2px 2px 5px 1px rgba(180, 180, 180, 0.95);
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: fade-in;
}

#text {
  color: white;
  transition-property: color, text-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
  /* transition-timing-function: ease-in-out; */
  transition-timing-function: fade-in;
}

/* Colors for selected text */
#text:selected {
  color: #333333;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.65);
}

#input {
  background-color: rgba(50, 50, 50, 0.7);
  color: white;
  padding: 0.25em;
  border-top: 1px solid rgba(0, 0, 255, 0.55);
  border-right: 1px solid rgba(0, 0, 255, 0.55);
  border-left: 1px solid rgba(0, 0, 255, 0.55);
  border-bottom: rgba(50, 50, 50, 0.78);
}

image {
  margin-left: 0.5em;
  margin-right: 0.65em;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-delay: 0s;
  transition-timing-function: fade-in;
}

image:selected {
  box-shadow: 2px 2px 2px 1px rgba(90, 90, 90, 0.95);
}
